= render('shared/header')

%table.game_board
  %tr
    %th
    - ('A'..'J').each do |coord|
      %th= coord
  - @game.board.each_with_index do |row, row_index|
    %tr
      %td= row_index+1
      - row.each_with_index do |cell, col_index|
        %td= cell[:contents].try(:id) || "empty"
