.cell {
  height: 45px;
  /*color : white;*/
  margin: 2px;
}

.label {
  color: black;
}

.hit {
  background-color: red;
}

.miss {
  background-color: yellow;
}

.blank {
  background-color: blue;
}